@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<<<<<<< HEAD
<p>Use this area to provide additional information13.</p>
=======
<p>Use this area to provide additional information.</p>
>>>>>>> parent of 24fcfd7... test
