<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    320 Hillsboro St West<br />
    Kanata, ON K2M 3B2<br />
    <abbr title="Phone">P:</abbr>
    (613) 301 0250
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Enter a valid email address
</div>
